<!-- <div *ngIf= "!cargando">
    <p>Hola Termino de cargar</p>
</div>

<img *ngIf="cargando" src="https://i.pinimg.com/originals/77/97/81/779781883952778b25974baa3cf7679c.gif" alt="">

<br/>

<button (click)="alternar()">Alternar</button> -->

<!-- <div *ngFor="let nombre of nombres">
    <p> Hola mi nombre es : {{nombre}}</p>
  </div>

  <div *ngFor= " let producto of productos" class="producto">
    <p>El producto es: {{producto.nombre}}</p>
    <p>Su stock es: {{producto.stock}}</p>
    <p>Fabricante: {{producto.fabricante}}</p>
    <p>vencimiento: {{producto.fechaVence}}</p>
  </div> -->

<!-- <div class="but" [ngSwitch]="pestana"> 
    <button (click)="cambiarPestana('perfil')">Perfil</button>
    <button (click)="cambiarPestana('puntos')">Puntos</button>
    <button (click)="cambiarPestana('info')">Info</button>

    <div class="butContenido">
        <p *ngSwitchCase="'perfil'">Este es el perfil</p>
        <p *ngSwitchCase="'puntos'">Este son los puntos</p>
        <p *ngSwitchCase="'info'">Esta es la info</p>
        <p *ngSwitchDefault>Seleccione una pestaña</p>

    </div>
</div> -->

<button (click)="alternarFondo()">Alternar</button>

<div [ngClass]="{ 'cuadrado': mostrarCuadrado }">
  <p>Esse deveria aparecer com uma cor verde</p>
</div>

<div *ngFor= " let producto of productos" class="producto">
  <p [ngClass]="{ 'textoImportante': producto.esImportante }">El producto es: {{producto.nombre}}</p>
  <p>Su stock es: {{producto.stock}}</p>
  <p>Fabricante: {{producto.fabricante}}</p>
  <p>vencimiento: {{producto.fechaVence}}</p>
</div>
