<!-- <p>titulos works!</p>


{{nombre}}

<input type="text" [(ngModel)]="inputNuevo">

<P>{{inputNuevo}}</P> -->

<label for="">Correo
    <input type="text" [(ngModel)]="correo">
</label>

<label for="">Contraseña

    <input type="password" (ngModelChange)="escribirModelo()" [(ngModel)]= "password">
</label>

<button (click)="ingresar()">Iniciar</button>

<label for=""> duplo click
    <input type="text" [(ngModel)]= "digiteNombre">
</label>

<button (dblclick)="entrar()">entrar</button>
<button (dblclick)="llamarAlert()">preciones dos veces</button>
